<!-- Heading Row -->
<div class="row align-items-center my-5">
    <div class="col-lg-7">
    <img class="img-fluid rounded mb-4 mb-lg-0" width="80%" src="https://www.jota.info/wp-content/uploads/2018/04/feedback-3239758_1280-e1522959423977-1024x650.jpg" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
    <h1 class="font-weight-light">Bem vindo ao ReclameAi!</h1>
    <p>O melhor portal de comunicação pós venda do Brasil. Poste sua experiência com nossos produtos para entrarmos em contato com você e oferecer o melhor serviço.</p>        
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
<!-- Content Row -->
<div class="row">
    <div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
        <h2 class="card-title">Cliente</h2>
        <p class="card-text">Queremos melhorar cada dia mais para oferecer um serviço de altissima qualidade. Nos informe sua situação para podemos te ajudar.</p>
        </div>
        <div class="card-footer">
        <a href="#" class="btn btn-primary btn-sm">Reclamar</a>
        </div>
    </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
        <h2 class="card-title">Vendedor</h2>
        <p class="card-text">Acompanhe as reclamações feitas até o momento por cada usuario, oferecendo um melhor atendimento ao cliente.</p>
        </div>
        <div class="card-footer">
        <a href="#" class="btn btn-primary btn-sm">Acompanhar</a>
        </div>
    </div>
    </div>
    <!-- /.col-md-4 -->      

</div>
<!-- /.row -->